.link {
  overflow: hidden;
}

.withIcon {
  padding-left: 2rem;
  padding-right: 2rem;
  /*padding-right: 2.75rem;*/
  transition: padding-left 0.2s ease;
}

.label {
  transition: transform 0.2s ease;
}

.withIcon > svg {
  position: absolute;
  right: 1.25rem;
  top: 50%;
  opacity: 0;
  transform: translateX(0.75rem) translateY(-50%);
  transition: transform 0.2s ease, opacity 0.2s ease;
  pointer-events: none;
}

.withIcon:hover .label {
  transform: translateX(-0.75rem);
}

.withIcon:hover > svg {
  opacity: 1;
  transform: translateX(0) translateY(-50%);
}
